h1 {
    font-size: 50px;
    color: #5fb4c1;
}

.selecCategoria button {
    border: none;
    border-radius: 0;
    padding: 0;
    border-bottom: 2px solid #fff;
}

.selecCategoria button:hover {
    border: none;
    border-radius: 0;
    background: none;
    color: #63a9b4;
    border-bottom: 2px solid #63a9b4;
}

.selecCategoria button.active {
    background: none;
    color: #63a9b4;
    border-bottom: 2px solid #63a9b4;
}

.fotoCard {
    height: 300px;
    background-size: cover;
    position: relative;
}

.cat {
    text-transform: uppercase;
}

.card-title {
    font-weight: 600;
}

.categoria {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0px;
}

.autor,
.fecha {
    font-size: 0.9em;
}

.autor {
    font-weight: 600;
}

.autor img {
    border-radius: 50%;
    width: 30px;
}

.fecha {
    text-align: right;
    color: gray;
}

.card-text {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.btn-leer {
    border: 2px solid #63a9b4;
    color: #63a9b4;
    background-color: #fff;
    width: 50%;
    border-radius: 6px;
}

.btn-leer:hover {
    color: #fff;
    background-color: #63a9b4;

}