<div class="container">
    <h1 class="my-5 text-center">No soy francés, soy de Boston!</h1>
    <div class="btn-group mb-3">
        <button (click)="selectCategory($event)" value="todos" type="button" class="cat btn btn-outline-secondary m-2">Todos</button>
        <button (click)="selectCategory($event)" [value]="categoria" type="button" class="cat btn btn-outline-secondary m-2" *ngFor="let categoria of categorias">{{categoria}}</button>
    </div>
    <div class="row">

        <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let post of posts">
            <div class="card">
                <div class="fotoCard" [ngStyle]="{backgroundImage: 'url('+post.imagen+')'}">
                    <div class="categoria">{{post.categoria}}</div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{post.titulo}}</h5>
                    <div class="row">
                        <div class="col autor"><img src="https://avatars.githubusercontent.com/u/114173266?s=40&v=4" alt="autor"> {{post.autor}}</div>
                        <div class="col fecha">{{post.fecha | date: 'dd/MM/y'}}</div>
                    </div>
                    <p class="card-text mt-3">{{post.texto}}</p>
                    <button [routerLink]="['/posts', post.id]">Leer más</button>
                </div>
            </div>
        </div>
    </div>
</div>