<header>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['']">
        <img src="https://i.etsystatic.com/21631839/r/il/0d5f79/2173480077/il_340x270.2173480077_h6uw.jpg" alt="logo" height="50px"> BostonLand
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item" [routerLink]="['/posts']">
            <a class="nav-link">Posts</a>
          </li>
          <li class="nav-item" [routerLink]="['/new']">
            <a class="nav-link">Crear Post</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>