input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched,
select.ng-valid.ng-touched {
    border: 3px solid lightgreen;
}


input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 3px solid lightcoral;
}

.error {
    font-size: 14px;
    font-style: italic;
    color: lightcoral;
}

.formFoto img {
    filter: hue-rotate(184deg);
}

.btn-enviar {
    border: 2px solid #63a9b4;
    color: #63a9b4;
    background-color: #fff;
    padding: 5px 40px;
    border-radius: 6px;
    font-size: 1.1em;
}

.btn-enviar:hover {
    color: #fff;
    background-color: #63a9b4;

}