<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <form [formGroup]="formulario">
                <div class="mb-3">
                    <label class="form-label">Título</label>
                    <input type="text" class="form-control" placeholder="Introduce el título del post" formControlName="titulo">
                </div>
                <div class="mb-3">
                    <label class="form-label">Texto</label>
                    <textarea class="form-control" cols="30" rows="10" placeholder="Introduce el texto del post" formControlName="texto"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Autor</label>
                    <input type="text" class="form-control" placeholder="Introduce el nombre del autor" formControlName="autor">
                </div>
                <div class="mb-3">
                    <label class="form-label">Imagen</label>
                    <input type="text" class="form-control" placeholder="Introduce una URL" formControlName="imagen">
                </div>
                <div class="mb-3">
                    <label class="form-label">Fecha</label>
                    <input type="date" class="form-control" formControlName="fecha">
                </div>
                <div class="mb-3">
                    <label class="form-label">Categoría</label>
                    <select class="form-select" formControlName="categoria">
                        <option value="opcion">Selecciona una opción</option>
                        <option value="general">General</option>
                        <option value="salud">Salud y nutrición</option>
                    </select>
                </div>
                <input type="submit" value="Enviar" class="btn btn-secondary" (click)="onClick()">
            </form>
        </div>
    </div>
</div>